body {
    background-image: url(../img/fundo.avif);
    background-repeat: no-repeat;
    background-size: cover;
}

.title{
    margin: 10px 0 0;
    text-align: center;
    margin: 0 auto;
    color: rgb(10, 9, 9);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
}

.container img {
    object-fit: cover;
    margin: 10px;
    height: 300px;
    width: 300px;
    max-width: 100%;
}

